.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  position: relative;
}

.circular-gallery:active {
  cursor: grabbing;
}

/* Make canvas fill the container */
.circular-gallery canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
