/* Make Lightning fill the parent absolutely for background effect */
.lightning-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
